

  @import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
  .maincolor {
    background: rgb(164, 36, 48);
  }
  .about-banner {
    position: relative;
    margin-block-end: 50px;
  }
  
  .about-banner::before,
  .about-banner::after {
    content: "";
    position: absolute;
  }
  .about-banner::before {
    top: -20rem;
    left: 210px;
    width: 100px;
    height: 100px;
    background-image: url('../images/about-shape-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: rotate360 8s linear infinite;
  }
  @keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }
  .rotate-img {
    display: block;
    bottom: 315px;
    color: green;
    left: 185px;
    position: absolute;
    animation: move 5s linear infinite reverse;
  }
  .img-animation:hover {
    animation: move 3s linear infinite alternate;
  }
  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-3px, 10px);
    }
    100% {
      transform: translate(5px, 20px);
    }
  }











  






























  







  